header nav div{
    display: inline-block;
    text-decoration: none;
    background-color: $second-color;
    color: whitesmoke;
    font-size: 200;
    margin: 0;
    .logoms{
        width: 150px;
        height: 70px;
    }
    h1{
        font-size: nth($font-size, 4);
        padding: 10px;
        color: whitesmoke;
        font-weight: 900;
        span{
            font-size: nth($font-size, 4);
            color: rgba(114, 6, 91, 0.897);
        }
    }
    div ul{
        font-size: nth($font-size, 1);
        font-weight: 200;
        justify-content: end;
        font-weight: bold;
    }            
}